*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-card {
    width: 1200px;
    height: 100vh;
    margin: auto;
    border: 1px solid black;
}
.card {
    width: 200px;
    height: 350px;
    padding: 20px;
    margin: 10px;
    background-color: black;
    float: left;
}
.card-img {
    max-width: 100%;
}
.card-title {
    margin: 20px 0;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}
.card-text {
    color: grey;
    font-size: 20px;
}
