*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #BBCDE3;
}
.container{
    width: 1070px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;

}
.header-container {
    width: 1400px;
    height: 100px;
    margin: auto;
}
header {
    background-color: black;
}
.logo {
    width: 100px;
    height: 100%;
}
.logo img  {
    width: 80px;
    margin-top:10px;
}
.card {
    width: 200px;
    height: 360px;
    padding: 20px;
    margin: 5px;
    background-color: black;
    float: left;

}
.card-img {
    max-width: 100%;
}
.card-title {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.card-text {
    color: grey;
    font-size: 15px;
}
